html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

img.profile {
  width: 125px;
  cursor: pointer;
}

address {
  font-style: normal;
}

/* Style */

body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #333;
  height: 100%;
  background: radial-gradient(#8a3b3a, #2e2f2d) #2e2f2d;
}

a {
  color: #66d9ef;
}

a:visited {
  color: #a6e22e;
}

a:hover, a:visited:hover {
  color: #fd971f;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes introAnim {
  0% {
    transform: translateY(100px); /* Start 100px below its final position */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateY(0); /* Move to its final position */
    opacity: 1; /* Fully visible */
  }
}

.card {
  background-color: #2e2f2d;
  width: 500px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 72px -21px rgba(255, 255, 255, 0.);
  transform: translateY(0); /* Ensure the card starts at its final position */
  animation: .75s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 introAnim;
}

figure {
  text-align: center;
}

h1 {
  text-align: center;
  color: #e6ddda;
}

p.title {
  margin-top: 0;
  color: #e6ddda
}

p {
  margin-top: 30px;
  text-align: center;
  color: #e6ddda;
}

ul.links {
  display: flex;
  justify-content: center;
}

ul.links li {
  margin: 10px;
}

address {
  margin-top: 10px;
  text-align: center;
  color: #e6ddda;
}

address img {
  height: 14px;
}: 16px;t: ;